/*
File by Jürgen Enge (info-age GmbH, Basel) available under CC-BY-SA-4.0
Dieses Werk ist lizenziert unter einer Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz.
http://creativecommons.org/licenses/by-sa/4.0/
*/

html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(../img/background.png);
	color: white;
	background-size: cover;
}

